version: 2.0
jobs:
  deploy:
    parallelism: 15
    docker:
    - image: python
    resource_class: large

    working_dir: &working_dir ~/app

    steps:
    - checkout
    - setup_remote_docker
    - run:
        name: Registry
        command: python a.py
  deploy1:
    parallelism: 15
    docker:
    - image: python

    working_dir: &working_dir ~/app

    steps:
    - checkout
    - setup_remote_docker
    - run:
        name: Registry
        command: python a.py

workflows:
  version: 2
  deploy:
    jobs:
    - deploy:
        filters:
          branches:
            only: main
    - deploy1:
        filters:
          branches:
            only: main
